# node_modules – ніколи не комітимо!
node_modules/

# лог-файли
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# директорія білду (створюється після `npm run build`)
dist/

# системні файли
.DS_Store
Thumbs.db

# середовище розробки
.env
.env.*.local

# редактори
.vscode/
.idea/

# кеші
.cache/
*.log
*.tsbuildinfo

# Mac або інші системні файли
*.swp
*.swo

# вихідний серверний файл, якщо зберігаєш його тут
server.js
